html, body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Ubuntu', 'Helvetica Neue', sans-serif;
  width: 300px;
  overflow-wrap: break-word;
  color: black;
  background-color: #bcd1dc;
}

p.info {
  background-color: #dde8ee;
  color: black;
}


h1 {
  font-size:14px;
  text-align: center;
}

#popup-content, #message-content {
  font-size: 12px;
}

#send-button {
  font-size: 14px;
  padding: 8px;
  border:1px solid;
  border-radius: 5px;
}

#popup-content > p {
  padding: 10px;
  text-align: center;
}

#message-content p {
  text-align: center;
}

#title {
  font-size: smaller;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 4px;
}

.hidden {
  display: none;
}

.fadeout {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}
